.login{
    background-color: #910D0D;
}

.flex_container{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.flex_container > li {
    color: #dfdfdf;
}

.container{
    position: relative;
    left: 35%;
    width: 110px;
    height: 100px;
    background: #dfdfdf;
    border-radius: 10%;
}

.image{
    width: 100px;
    height: 100px;
}

.p{
    font-size: 12px;
}